[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
django = "*"
pillow = "*"

[dev-packages]

[requires]
python_full_version = ">=3.11,<3.13"
