{% extends "sidebar_menubar.html" %}
{% block title %}Home - LocalHub{% endblock %}


{% block content %}
{% include "landing/navbar.html" %}
<header>
    <h1 class="homepage-header-title">Welcome, {{ user.username }}</h1>
</header>

<div class="card-grid">
    <!-- Card 1: Local News -->
    <div class="card">
        <div class="notification">
            <span class = "badge"> 0</span>
        </div>
        <div class="card-icon">
            <i class="fas fa-newspaper"></i>
        </div>
        <hr class="card-divider">
        <a href="{% url 'news_list' %}">News</a>
        <p class="card-info">Keep up with local news</p>
    </div>

    <!-- Card 2: Events -->
    <div class="card">        
        <div class="notification">
            <span class = "badge"> 0</span>
        </div>
        <div class="card-icon">
            <i class="fas fa-calendar-alt"></i>
        </div>
        <hr class="card-divider">
        <a href="{% url 'in_progress' %}">Events</a>
        <p class="card-info">Attend Community Events</p>
    </div>

    <!-- Card 3: Groups -->
    <div class="card">
        <div class="notification">
            <span class = "badge"> 0</span>
        </div>        
        <div class="card-icon">
            <i class="fas fa-comments"></i>
        </div>
        <hr class="card-divider">
        <a href="{% url 'chat:post-list' %}">Group Chat</a>
        <p class="card-info">Connect with your Friends</p>
    </div>

    <!-- Card 4: Vigilante -->
    <div class="card">
        <div class="notification">
            <span class = "badge"> 0</span>
        </div>
        <div class="card-icon">
            <i class="fas fa-shield-alt"></i>
        </div>
        <hr class="card-divider">
        <a href="{% url 'in_progress' %}">Vigilante</a>
        <p class="card-info">Find help or report crime</p>
    </div>

    <!-- Card 5: Volunteers -->
    <div class="card">
        <div class="notification">
            <span class = "badge"> 0</span>
        </div>
        <div class="card-icon">
            <i class="fas fa-hand-holding-heart"></i>
        </div>
        <hr class="card-divider">
        <a href="{% url 'in_progress' %}">Volunteers</a>
        <p class="card-info">Lend a hand</p>
    </div>
</div>
{% endblock %}
